---
layout: default
morris_version: 0.5.0
---
<div class="row docrow">
  <div class="span12 hero">
    <h1>morris.js</h1>
    <p class="tagline">
      good-looking charts shouldn't be difficult
    </p>
    <p>
      <a href="https://github.com/morrisjs/morris.js/archive/{{ page.morris_version }}.zip" class="btn btn-large btn-primary">Download v{{ page.morris_version }}</a>
      <br>
      <a href="#getting_started">or use our CDN</a>
    </p>
    <ul class="inline buttons">
      <li>
        <iframe src="http://ghbtns.com/github-btn.html?user=morrisjs&repo=morris.js&type=watch&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      </li>
      <li>
        <iframe src="http://ghbtns.com/github-btn.html?user=morrisjs&repo=morris.js&type=fork&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
      </li>
      <li class="follow-button">
        <a href="https://twitter.com/olly_smith" class="twitter-follow-button" data-show-count="false">Follow @olly_smith</a>
      </li>
      <li class="share-button">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://morrisjs.github.io/morris.js/" data-text="morris.js: good looking charts shouldn't be difficult" data-via="olly_smith">Tweet</a>
      </li>
    </ul>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

<hr>

<div class="row">
  <div class="span6">
    <div class="graph-container">
      <div class="caption">Jaguar 'E' Type vehicles in the UK</div>
      <div id="hero-graph" class="graph"></div>
    </div>
  </div>
  <div class="span6">
    <div class="graph-container">
      <div class="caption">iPhone CPU benchmarks</div>
      <div id="hero-bar" class="graph"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="graph-container">
      <div class="caption">Quarterly Apple iOS device unit sales</div>
      <div id="hero-area" class="graph"></div>
    </div>
  </div>
  <div class="span6">
    <div class="graph-container">
      <div class="caption">Donut flavours</div>
      <div id="hero-donut" class="graph"></div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="span3">
    <ul class="nav nav-list well">
      <li class="nav-header">Home</li>
      <li><a href="#getting_started">Getting started</a></li>
      <li><a href="#your_first_chart">Your first chart</a></li>
      <li><a href="#license">License</a></li>
    </ul>
  </div>

  <div class="span9" id="samples">

    {% capture getting_started %}{% include getting_started.md %}{% endcapture %}
    {{ getting_started|markdownify }}

    {% capture first_chart %}{% include your_first_chart.md %}{% endcapture %}
    {{ first_chart|markdownify }}

    {% capture what_next %}{% include what_next.md %}{% endcapture %}
    {{ what_next|markdownify }}

    {% capture license %}{% include license.md %}{% endcapture %}
    {{ license|markdownify }}

  </div>
</div>
