.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}


path.morris-line {
  stroke-dasharray:5000;
						  stroke-dashoffset:0;
						   animation: dash 10s linear;
						   animation-iteration-count: 1;
-moz-animation-iteration-count: 1;
-webkit-animation-iteration-count: 1;
-o-animation-iteration-count: 1;
}


@keyframes dash {
  from {
    stroke-dashoffset: 5000;
  } 
}


circle.morris-line-point {
 animation: fadeEnter 2s linear;
animation-iteration-count: 1;
-moz-animation-iteration-count: 1;
-webkit-animation-iteration-count: 1;
-o-animation-iteration-count: 1;
}

@keyframes fadeEnter {
  from {
    opacity: 0;
  } 
  to {
  opacity: 1
  }
}

.morris-hover  {	
 animation: popUp .2s linear;
animation-iteration-count: 1;
-moz-animation-iteration-count: 1;
-webkit-animation-iteration-count: 1;
-o-animation-iteration-count: 1;
}

@keyframes popUp {
    0% {
        transform: scale(.3);
    }
     0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}




